.fb-auth-area{
 background-color: var(--fb-bg-gray);
 height: 720px;
 display: flex;
 justify-content: center;
 align-items: center;

.fb-auth-container{
width: 977px;
display: flex;
justify-content: space-between;
align-items: center;

.fb-auth-left{
 img{
  height: 106px;
  margin: -28px;
 }
 h2{
  font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}
 }
}
.fb-auth-right{
 text-align: center;
 .fb-auth-box{
  width: 395px;
  background: #ffff;
  padding: 15px;
  border-radius: 8px;
  box-shadow:0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
form{
 display: flex;
flex-direction: column;
 gap:10px;
 
 input{
  border-radius: 6px;
  padding: 14px 16px ;
  border:var(--fb-border);
  
 }
 .btn1{
  background-color: #0866ff;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
 
  color: #ffff;
 }
 .divider{
  height: 1px;
  background: var(--fb-bg-gray);
 }
 .btn2{
  background-color:var(--fb-secondary-color);
  padding: 11px 16px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
 color: #ffff;
 
}

}
}
p {
 border-top: none;
 color: #1c1e21;
 font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
 font-size: 14px;
 font-weight: normal;
 padding-top: 0;
}
}
}
.sign-up-form{
 display: flex;
 gap: 10px;
 flex-direction: column;
 .h-form{
 display: flex;
 gap:10px;
  }
 }


 input{
 width: 100%;
 
 padding: 11px;
 font-size:15px ;
 background-color: #f5f6f7;
 border:1px solid #ccd0d5;
 border-radius: 5px;
}
