:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --fb-primary-color:#0866ff;
  --fb-secondary-color:#00A400;
  --fb-bg-gray:#f0f2f5;
--fb-border: 1px solid #dddfe2;
--box-shadow:0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);

 
}
*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}
li{
  list-style: none;
}
ul{
  padding: 0px;
}
a{
  text-decoration: none;
}
input:focus{
  outline: none;
}